body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    color: #434455;
    background-color: #fff;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
        width: 320px;
    /*max-width: 1158px;*/
    /*padding-left: 15px;
    padding-right: 15px;*/
        padding-left: 16px;
        padding-right: 16px;
    margin: 0 auto;
}

.section {
    /*padding-top: 120px;
    padding-bottom: 120px;*/
        padding-top: 96px;
        padding-bottom: 96px;
}







/*-----------------------------------------------------------------------------HEADER----------------------------------------------------------------------------------------*/
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-wrap {
    display: flex;
    align-items: center;
        justify-content: space-between;
}


.header-menu {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    padding: 16px 0;


}

.header-logo .accent {
    color: #2e2f42;
}

.header-menu-list {
        display: none;
}

.header-menu-item {}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    background-color: #404bbf;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    margin-top: 20px;
    display: block;
}

.header-contacts {
    font-style: normal;
    margin-left: auto;
}

.header-contacts-list {
    display: none;
}

.header-contacts-item {}

.header-contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404bbf;
}

.open-menu-btn {
    padding: 0;
    background-color: transparent;
    line-height: 0;
    cursor: pointer;
    border: none;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.mob-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    padding: 16px 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events:none;
}
.navig{padding-top: 72px;}
.close-menu-btn {
    display: block;
    margin-left: auto;

    position: absolute;
        width: 24px;
        height: 24px;
        top: 24px;
        right: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-menu-btn:hover,
.close-menu-btn:focus {
    background-color: #404bbf;
    border: none;
}
.close-menu-btn:hover .modal-icon,
.close-menu-btn:focus .modal-icon {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 32px;}

.mob-menu-item {}

.mob-menu-link {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.mob-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;}

.mob-contacts-item {}

.mob-contacts-link {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
}

.mob-icon-list {display: flex;
                        gap: 40px;}




/*---------------------------------------------------------------------------MAIN---------------------------------------------------------------------------------------*/
.main {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 320px;
    margin: 0 auto;
}
@media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .main{background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-mob-2x.jpg);}
}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.main-button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    font-family: inherit;
    cursor: pointer;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.main-button:hover,
.main-button:focus {
    background-color: #404bbf;
}









/*-----------------------------------------------------------------------------------ABOUT----------------------------------------------------------------------------------*/
.about {
    /*padding-top: 120px;
    padding-bottom: 120px;*/
}


.visually-hidden {
    color: #2e2f42;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-list {
    display: flex;
        flex-wrap: wrap;
        gap: 72px;
    /*gap:24px;*/
    align-items: center;
}

.about-item {
    /*width: calc((100% - 3 * 24px) / 3);*/
        width: 100%;
}

.about-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
        display: none;
}

.about-icon {
    margin: auto;
}

.about-subtitle {
    /*font-weight: 500;
    font-size: 20px;
    line-height: 1.2;*/
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
}

.about-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    /*max-width: 264px;*/
    max-width: 288px;
        font-weight: 500;
}










/*-------------------------------------------------------------------TEAM------------------------------------------------------------------------------------------*/
.team {
    background-color: #f4f4fd;
    /*padding-top: 120px;
    padding-bottom: 120px;*/
        padding-right: 28px;
        padding-left: 28px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    /*gap: 24px;*/
        gap: 72px;
}

.team-item {
    background-color: #fff;
    /*width: calc((100% - 3 * 24px) / 4);*/
        width: 100%;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    margin: 0 12px;
}

.team-images {
    margin: 0 auto;
}

.team-wrap {
    padding: 32px 0;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.icon-list {
    display: flex;
    gap: 24px;
    margin: 0 16px 0 16px;
    justify-content: center;
}

.icon-item {
    width: 40px;
    height: 40px;
}

.icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: white;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-icon {
    fill: #f4f4fd;
}

.icon-link:hover,
.icon-link:focus {
    background-color: #404bbf;
}





/*-------------------------------------------------------------------------PORTFOLIO-----------------------------------------------------------------------------------------*/
.portfolio {
    /*padding-top: 120px;
    padding-bottom: 120px;*/
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 0 auto;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    /*gap: 48px 24px;*/
        gap: 48px;
}

.portfolio-item {
    background-color: #fff;
    /*width: calc((100% - 2 * 24px) / 3);*/
        width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.portfolio-active-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-images {}

.portfolio-text-active {
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-text-active {
    transform: translateY(0);
}

.portfolio-text-wrap {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transform: translateY(0);
}












/*-----------------------------------------------------------------------FOOTER-------------------------------------------------------------------------------*/
.footer {
    background-color: #2e2f42;
        padding-top: 96px;
        padding-bottom: 96px;
}

footer .container {
    display: flex;
        flex-wrap: wrap;
    align-items: baseline;
}

.footer-logo-wrap {
        margin: 0 auto;
        margin-bottom: 72px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
        display: block;
        text-align: center;
}

.footer-logo .accent {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
        max-width: 288px;
}

.footer-soc-wrap {
        margin: 0 auto;
        margin-bottom: 72px;
}

.footer-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
        text-align: center;
}

.footer-icon-list {
    display: flex;
    gap: 16px;
}

.footer-icon-item {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31d0aa;
}

.footer-icon-icon {
    fill: #f4f4fd;
}

.footer-input-wrap {}

.footer-form {
    display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.footer-label {}

.footer-input {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #fff;
    border-radius: 4px;
        width: 288px;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-btn {
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.footer-btn-icon {
    fill: #f4f4fd;
    margin-left: 16px;
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #404bbf;
}

/*--------------------------------------------MODAL---------------------------------------------------------*/

.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal {
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal-btn-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-btn-close:hover .modal-icon,
.modal-btn-close:focus .modal-icon {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}


.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-input-wrap {
    position: relative;
    margin-bottom: 8px;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
    color: rgb(46, 47, 66);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    background-color: transparent;
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.input-icon {
    fill: #4d5ae5;
}

.comment {
    margin-bottom: 16px
}

.modal-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    padding: 8px 16px;
    resize: none;
    background-color: transparent;
}

.modal-comment:focus {
    border-color: #4d5ae5;
}

.modal-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.privacy {
    margin-bottom: 24px;
}

.check-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.check-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border-color: #8e8f99;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
}

.check-icon {}

.modal-check:checked+.check-text span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.link-privacy {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;

}

.modal-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    font-family: inherit;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
}







/*------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width:768px) and (max-width:1157px){
    .container{width: 768px;}
        .header-menu-list {display: flex;
                                    gap: 40px;}
        .header-contacts-list {display: flex;
                                            gap:12px;
                                            flex-direction: column;}
        .header-contacts-link{font-size: 12px;
                                    line-height: 1.17;
                                    letter-spacing: 0.04em;
                                    }
        .header-logo {margin-right: 120px;}
        .open-menu-btn{display: none;}

    .main {padding-top: 112px;
                padding-bottom: 112px;
                max-width: 768px;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url(../images/people-tab.jpg);}
                @media screen and (min-resolution: 2dppx),
                (min-resolution: 192dpi) {
                    .main {background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                            url(../images/people-tab-2x.jpg);}}
    .main-title {font-size: 56px;
                    line-height: 1.07;
                    margin-bottom: 36px;
                    max-width: 496px;}
    .about-list{gap: 72px 24px;}
    .about-item{width: calc((100% - 24px) / 2);}
    .about-subtitle{text-align: left;}
    .about-text{max-width: 356px;}

    .team {padding-right: 92px;
                padding-left: 92px;}
    .team > .container {width: 584px;}
    .team-list{gap: 64px 24px;}
    .team-item{width: calc((100% - 24px) / 2);
                        margin: 0;}

    .portfolio-list{gap: 72px 24px;}
    .portfolio-item{width: calc((100% - 24px) / 2);}
    
        .footer {padding-left: 108px;
                    padding-right: 108px;}
        footer .container {gap: 72px 24px;
                                    align-items:flex-start;
                                    padding-left: 0;
                                    padding-right: 0;
                                    max-width: 552px;}
        .footer-logo-wrap {margin-left: 0;
                                    margin-bottom: 0;
                                    margin: 0;}
        .footer-logo {display: inline-block;
                                text-align: left;}
        .footer-text {max-width: 264px;}
        .footer-soc-wrap {margin-left: 0;
                                margin-bottom: 0;
                                margin: 0;}
        .footer-subtitle {text-align: left;}
        .footer-form {flex-wrap: nowrap;
                                gap: 24px;
                                flex-direction: row;}
        .footer-input {width: 264px;}
}

@media screen and (min-width:1158px) {
    .container{width: 1158px;
                    padding-left: 15px;
                    padding-right: 15px;}
    .section{padding-top: 120px;
                padding-bottom: 120px;}

    .header-menu-list{display: flex;
                                    gap: 40px;}
    .header-contacts-list{display: flex;
                                        gap: 40px;}
    .header-logo {margin-right: 76px;}
    .open-menu-btn {display: none;}

    .main{padding-top: 188px;
                padding-bottom: 188px;
                max-width: 1440px;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url(../images/people-des.jpg);}
            @media screen and (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
            .main {background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url(../images/people-des-2x.jpg);}}
    .main-title {font-size: 56px;
                        line-height: 1.07;
                        margin-bottom: 48px;
                        max-width: 496px;}


    .about-list{gap: 24px;
                    flex-wrap: nowrap;}
    .about-item{width: calc((100% - 3 * 24px) / 4);}
    .about-wrap{display: flex;}
    .about-subtitle {font-weight: 500;
                            font-size: 20px;
                            line-height: 1.2;
                            text-align: left;}
    .about-text{max-width: 264px;
                        font-weight: 400;}

    .team-list{flex-wrap: nowrap;
                gap: 24px;}
    .team-item{width: calc((100% - 3 * 24px) / 4);}

    .portfolio-list{gap: 48px 24px;}
    .portfolio-item{width: calc((100% - 2 * 24px) / 3);}

    .footer{padding-top: 100px;
        padding-bottom: 100px;}
    footer .container {flex-wrap: nowrap;}
    .footer-logo-wrap {margin-right: 120px;
                                    margin-bottom: 0;}
    .footer-logo{display: inline-block;
                        text-align: left;}
    .footer-text{max-width: 264px;}
    .footer-soc-wrap {margin-right: 80px;
                                margin-bottom: 0;}
    .footer-subtitle{text-align: left;}
    .footer-form{flex-wrap: nowrap;
                        gap: 24px;
                        flex-direction: row;}
    .footer-input{width: 264px;}

}