body {font-family: "Roboto", sans-serif;
color:#2e2f42;
color:#434455;
background-color: #fff;
}

ul {list-style-type: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;}

a {text-decoration: none;}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {display: block;
max-width: 100%;
height: auto;}

.container {
    max-width: 1158px ;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; }

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}







/*-----------------------------------------------------------------------------HEADER----------------------------------------------------------------------------------------*/
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:  2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-wrap {
    display: flex;
    align-items: center;
}


.header-menu {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: flex;
        margin-right: 76px;
    

}

.header-logo .accent {
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-item {}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}

.current {
    position: relative;
    color: #404bbf;
}
.current::after {
background-color: #404bbf;
position: absolute;
content: "" ;
width: 100%;
left: 0;
bottom: -1px;
height: 4px;
border-radius: 2px;
margin-top: 20px;
display: block;
}

.header-contacts {
    font-style: normal;
    margin-left: auto;
}

.header-contacts-list {
    display: flex;
    gap: 40px;
}

.header-contacts-item {}

.header-contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404bbf;
}







/*---------------------------------------------------------------------------MAIN---------------------------------------------------------------------------------------*/
.main {background-color: #2e2f42;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding-top: 188px;
padding-bottom: 188px;
max-width: 1440px;
}

.main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;
}

.main-button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    font-family: inherit;
    cursor: pointer;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.main-button:hover,
.main-button:focus {
    background-color: #404bbf;}









/*-----------------------------------------------------------------------------------ABOUT----------------------------------------------------------------------------------*/
.about {
    padding-top: 120px;
    padding-bottom: 120px;
}


.visually-hidden {
    color: #2e2f42;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-list {
    display: flex;
    gap: 24px;
    align-items: center;
}

.about-item {
    width: calc((100% - 3 * 24px) / 3);
}
.about-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 100px; 
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
}
.about-icon {
    margin: auto;
}

.about-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:#2e2f42;
        margin-bottom: 8px;
}

.about-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        max-width: 264px;
}










/*-------------------------------------------------------------------TEAM------------------------------------------------------------------------------------------*/
.team {
    background-color: #f4f4fd; 
    padding-top: 120px;
    padding-bottom: 120px;}

.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color:#2e2f42;
        text-transform: capitalize;
        margin: 0 auto;
        margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #fff;
    /*max-width: 264px;*/
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}

.team-images {
    margin: 0 auto;
}

.team-wrap {
    padding: 32px 0;
}

.team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.team-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        margin-bottom: 8px;
}

.icon-list {
    display: flex;
    gap: 24px;
    margin: 0 16px 0 16px;
    justify-content: center;
}

.icon-item {
    width: 40px;
    height: 40px;
}

.icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    background-color:#4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: white;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-icon {
    fill: #f4f4fd;
}

.icon-link:hover ,
.icon-link:focus {
    background-color: #404bbf;
}





/*-------------------------------------------------------------------------PORTFOLIO-----------------------------------------------------------------------------------------*/
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 0 auto;
    margin-bottom: 72px;
    }

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    background-color: #fff;
    /*max-width: 360px;*/
    width: calc((100% - 2 * 24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.portfolio-active-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-images {}

.portfolio-text-active {
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-text-active {
    transform: translateY(0);}

.portfolio-text-wrap {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transform: translateY(0);
}












/*-----------------------------------------------------------------------FOOTER-------------------------------------------------------------------------------*/
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
footer .container {
    display: flex;
    align-items: baseline;
}

.footer-logo-wrap {
margin-right: 120px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block; }

.footer-logo .accent {
color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    }

.footer-soc-wrap {}

.footer-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-icon-list {
    display: flex;
    gap: 16px;
}

.footer-icon-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-icon-link:hover,
.footer-icon-link:focus {
background-color: #31d0aa;
}

.footer-icon-icon {
    fill: #f4f4fd;

}